<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154752384437-f4gfqqto7h9fdkb5m7kgn9go0ius6rhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154752384437-f4gfqqto7h9fdkb5m7kgn9go0ius6rhg</string>
	<key>API_KEY</key>
	<string>AIzaSyA5PiSncWcMlErB2XxYDb5qjlPUfGufhxI</string>
	<key>GCM_SENDER_ID</key>
	<string>154752384437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makanda.XamFormsFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>xamformsfirebaseauth</string>
	<key>STORAGE_BUCKET</key>
	<string>xamformsfirebaseauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154752384437:ios:a4937a301bb84206a22dfc</string>
	<key>DATABASE_URL</key>
	<string>https://xamformsfirebaseauth.firebaseio.com</string>
</dict>
</plist>